body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(163, 160, 160);
    position: absolute;
    left: 40%;
    color: white;
}

a{
    color: white;
}

h3{
    text-decoration: underline;
}
